include README.md
include LICENSE
include MANIFEST.in
include pyproject.toml
recursive-include lv_chordia/data *
recursive-include lv_chordia/cache_data *.sdict
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .git*
recursive-exclude * .venv* 